.transparent_class {
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

#banner {
    background-color: #CCCC29;
    border-bottom: 2px white solid;
    overflow: hidden;
}

#icon {
    height: 22px;
    width: 22px;
    padding: 5px;
    float: left;
    padding-left: 90px;
}

.bannerwords {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    padding-top: 5px;
}

#cname {
    float: left;
    padding-left: 10px;
}

#ename {
    float: right;
    padding-right: 90px;
}

button {
    float: right;
    background-color: #656614;
    border: 0px;
    height: 25px;
    margin-top: 3px;
    width: 50px;
    color: white;
    font-size: 15px;
    margin-right: 10px;
}

#logout {
    float: right;
    background-color: #656614;
    border: 0px;
    margin-top: 3px;
    width: 50px;
    color: white;
    font-size: 15px;
    margin-right: 10px;
}
